<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Chat App</title> 
    <link rel="stylesheet" href="static/style.css"> 
   
</head>  
<body>  
    <div class="container">  
        <h1>Welcome to the Chat Application</h1>  
        <form action = '/chat'>
            <div>
                <label>Username</label>
                <input type = "text" name = "username">
            </div>
            <div>
                <label>Room id</label>
                <input type = "text" name = "room">

            </div>
            <button type = "submit">join Chat</button>
        </form>
        
    </div>  
</body>  
</html>